setuptools
langchain-text-splitters
langchain-community
langgraph
langchain_core
langchain_groq
langchain-core
bs4
requests
python-dotenv
tqdm
numpy
langchain_huggingface
faiss_cpu
pypdf
exception
python-docx
hf_xet